body{
  padding: 25px;
  background-repeat: no-repeat;
  background-size: 100%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
  margin-left: 18%;
}

.card-title{
  color: black;
}

.card-text{
  color: black;
}

.card{
  border-color: black;
  border: 5px;
  border-style: solid;
}